<script setup>
import * as echarts from 'echarts/core';
import { ScatterChart, LineChart } from 'echarts/charts';
import { TooltipComponent, TitleComponent, ToolboxComponent, SingleAxisComponent, DataZoomComponent } from 'echarts/components';
import { SVGRenderer } from 'echarts/renderers';

import { onMounted, onBeforeUnmount, ref } from 'vue';

// Register necessary ECharts components
echarts.use([ScatterChart, LineChart, TooltipComponent, ToolboxComponent, DataZoomComponent, TitleComponent, SingleAxisComponent, SVGRenderer]);

function calcTimeNowAsISOString() {
    const nowWithOutMS = new Date().setMilliseconds(0);
    return new Date(nowWithOutMS).toISOString();
}

function calcTimespanAsISOString(seconds) {
    const now = new Date().setMilliseconds(0);
    const timespan = new Date(now - seconds * 1000);
    return timespan.toISOString();
}

let chart = undefined;

const config = {
    title: "Example Timeline",
    subtitle: "Example Subtitle",
    secondsToShow: 60,
    lineColor: 'green',
    pointBorderColor: 'blue',
    timelineUpdateInterval: 1000,
    downloadFileName: 'example-timeline',
};

function updateYAxisLegend() {
    if (!chart) {
        return;
    }
    chart.setOption({
        yAxis: {
            min: calcTimespanAsISOString(getOffsetInSecond()),
            max: calcTimeNowAsISOString(),
        }
    });

    chart.setOption({
        series: [{}, { data: [calcTimespanAsISOString(-5), calcTimespanAsISOString(getOffsetInSecond())] }]
    })
}

const getOffsetInSecond = () => config.secondsToShow || 60;
const getUpdateInterval = () => config.timelineUpdateInterval || 500;

let intervalID;
onMounted(() => {
    chart = echarts.init(document.getElementById('chart'), null, { renderer: 'svg' });

    const initChartOptions = {
        title: {
            text: config.title,
            subtext: config.subtitle,
        },
        grid: {
            containLabel: true,
        },
        xAxis: {
            show: false,
            type: 'category',
            data: [''],
            silent: true,
            axisLabel: {
                show: false,
            },
        },
        yAxis: {
            type: 'time',
            min: calcTimespanAsISOString(getOffsetInSecond()),
            max: calcTimeNowAsISOString(),
            axisLabel: {
                showMinLabel: true,
                showMaxLabel: true,
            },
            splitLine: {
                show: true, // Display grid lines
                lineStyle: {
                    type: 'dashed', // You can change the line style here
                    opacity: 0.5 // Adjust the opacity if needed
                }
            },
        },
        series: [{
            type: 'scatter',
            symbolSize: 20,
            itemStyle: {
                color: 'white',
                borderColor: config.pointBorderColor,
                borderWidth: 4,
            },
            z: 10,
            data: [],
        },
        {
            type: 'line',
            symbol: 'none',
            z: 5,
            lineStyle: {
                color: config.lineColor,
            },
            data: [calcTimespanAsISOString(-5), calcTimespanAsISOString(getOffsetInSecond())],
        }
        ],
        tooltip: {
            trigger: 'item',
            formatter(params) {
                const { value, info } = params.data;
                const timestamp = new Date(value).toLocaleString();
                return `${info}<br><br>Timestamp: ${timestamp}`;
            }
        },
        dataZoom: [
            {
                type: 'slider',
                show: true,
                yAxisIndex: 0,
                filterMode: 'none',
                width: 10,
                handleSize: 8,
                showDataShadow: false,
                left: '89%',
            },
            {
                type: 'inside',
                yAxisIndex: 0,
                filterMode: 'none',
            }
        ]
    }

    // Set initial options and data
    chart.setOption(initChartOptions);

    intervalID = window.setInterval(() => updateYAxisLegend(), getUpdateInterval());
    addDataWithRandomDelay();
});

onBeforeUnmount(() => {
    if (chart) {
        chart.dispose();
    }
    if (intervalID) {
        clearInterval(intervalID);
    }
});

const data = ref([]);
let count = 0;
function filterOldData() {
    const now = new Date();
    const secondsToShow = config.secondsToShow;
    const oldestTime = new Date(now.getTime() - (secondsToShow + 1) * 1000);
    data.value = data.value.filter(entry => new Date(entry.value) >= oldestTime);
}

function addData() {
    const newData = {
        value: new Date().toISOString(),
        info: `Entry ${count++}`,
    }
    data.value.push(newData);

    filterOldData();
    chart.setOption({ series: [{ data: data.value }] })
}

function getRandomTimeout(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function addDataWithRandomDelay() {
    addData();
    const randomTimeout = getRandomTimeout(500, 1500);
    setTimeout(addDataWithRandomDelay, randomTimeout);
}

</script>

<template>
    <div id="chart"></div>
</template>

<style>
#chart {
    width: 500px;
    height: 500px;
}
</style>